<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<body>
<ng-include src="'temper.txt'"></ng-include>
<div ng-app="myApp" ng-controller="myCtrl">

    First Name: <input type="text" ng-model="firstName"><br>
    Last Name: <input type="text" ng-model="lastName"><br>    
    <br>
    Full Name: {{firstName + " " + lastName}}
    <br>
    <br>
    Temperature: {{temperature}}

</div>
    


<script>
    var app = angular.module('myApp', []);
    
    var socket = io(); // TIP: io() with no args does auto-discovery
    socket.on('connect', function () { // TIP: you can avoid listening on `connect` and listen on events directly too!
        socket.emit('temperature', 'tobi', function (data) {
            $scope.temperature = data; // data will be 'temper from server'
        });
    });
   
    
 
    app.controller('myCtrl', function($scope) {
        $scope.firstName = "John";
        $scope.lastName = "Doe";
    });
    


</script>
    
 

</body>
</html>
